%h1 Libros
%p Listado de libros

- if flash[:notice].present?
  .notice= flash[:notice]

- if @books.any?
  %table{border: "1"}
    %tr
      %th Autor
      %th Titulo
      %th Descripcion
      %th Precio
      %th Categoria
    = render @books
- else
  %em No hay ningun libro agregado

%br

= link_to "Nuevo Libro", new_book_path